@import "variables";

body{
    background-color: beige;
}

.navbar{
    background-color:$colornyf;
    img{
        height: 150px;
    }
    li{
        font-size: 20px;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color: black;
    }
}
header{
    display: flex;
    justify-content: center;
    align-items: center;    
    .tote{
        height: 545px;
        border-radius: 70px;
    }
}
.masvendidos{
    height: 1900px;
    h2{
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 40px;
        display: flex;
        justify-content: center;
        padding: 2rem;
        color: rgb(110, 105, 57);
    }
    .fotoproducto{
        display: flex;
        justify-content: center;
        text-align: center;
        align-content: center;
        }
    .descrpcionalbum{
        @extend .fotoproducto
    }
    .parrafo{
        font-size: 25px;
        color: rgb(99, 55, 55);
        margin: 2rem;
    }
    @mixin producto ($border) {
        border: 2px solid $border;
        height: 400px;
    }
    .masvendidosimg1{
        @include producto(rosybrown)
    }
    .masvendidosimg3{
        @include producto(rgb(102, 76, 76))
    }
}
footer{
    background-color:$colornyf;
    .links{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding: 2rem;      
    }
   
    .container{
        font-size: 25px;
    }
    .redes{
        height: 50px;
    }
}