body{
    background-color: beige;
}

.navbar{
    div{
        background-color: rgb(241, 217, 170);
    }
    img{
        height: 150px;
    }
    li{
        font-size: 20px;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color: black;
    }
}